.sgw_gene {
    z-index: 99;
    position: absolute;
    border: 1px solid black;
    background-color: white;
    border-radius:12px;
    height:20px;
    width:60px;
    vertical-align: bottom;
    padding-top:2px;
    color: black;
    text-align: center;
    font: normal 12px "Open Sans", Verdana, Geneva, sans-serif;
}

.sgw_dropper {
    position:absolute;
    top:0px;
    left:0px;
    width:1px;
    height:600px;
    background-color: black;
}

.sgw_distance_dropper {
    position: absolute;
    top: 0px;
    left:0px;
    width:8px;
    height:16px;
    background-color: black;
    z-index: 99;
    display:block;
}

.sgw_chromosome {
    position: absolute;
    width: 100%;
}

.sgw_distance_holder {
    position: absolute;
}
.sgw_add_chromosome {
    position: absolute;
    bottom: 0px;
}

.sgw_trash {
    display:inline;
    font-size: 20px;
    width:20px;
    height:20px;
    background-image: url('trash.png');
}

.sgw_delete_chromosome {
    position: absolute;
    right: 0px;
    top: 0px;
    display:inline;
}

.swg_sex_linked_label {
    position: absolute;
    top: 155px;
    left: 0px;
    font-size: 12px;
    padding:0px;
    margin:0px;

}

input[type='checkbox'].sgw_sexlinked_checkbox {
    padding:0px;
    margin:0px 0px 0px 25px;
}

.sgw_axis {
    display: inline-block;
    position: absolute;
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
    right:40px;
    left:75px;
    height: 5px;
    margin-top: 5px;
    width:700px;
}

.sgw_gene_element {
    margin-left: -5px;
    height:7px;
    width:10px;
    z-index:99;
    top:145px;
    position: absolute;
}

.sgw_distance_input {
    font-size: 0.9em;
    z-index:99;
    color: black;
    vertical-align: text-bottom;
    text-align:center;
}

div.sgw_distance_input input[type="text"].sgw_cm_input {
    text-align:right;
    height:20px;
    border-top:0px;
    border-left:0px;
    border-right:0px;
    overflow:visible;
    padding:0px;
    max-width: 36px;
    width:36px;
    overflow: visible ;
    text-align: center;
}

.sgw_line_down {
    background-color: #e0e0e0;
    z-index:999;
}

.sgw_line_across {
 color: black;
 font-family: Verdana, Geneva, sans-serif;
 margin:0px;
 padding:0px;
font-size: 18px;
}

.sgw_help_genes {
    left:0px;
    right:0px;
    top:5px;
    height:70px;
    text-align: center;
    font-size:1.5em;     
    position: absolute;   
    background-color:rgba(242,240,230,.92);
    z-index:100;
    color: #4D4C49;
}

.sgw_help_chromosome {
    left:0px;
    right:0px;
    top:120px;
    text-align: center;
    font-size:1.5em;    
    position: absolute;  
    height:60px; 
    background-color:rgba(242,240,230,.92);
    z-index:100;
    color: #4D4C49;
}

.sgw_help_text {
    left:0px;
    right:0px;
    top:85px;
    color: black;
    text-align:center;
    vertical-align: middle;
    position:absolute;  
    font-size:1.5em;
    color: #4D4C49;
}
.sgw_line_across {
    overflow:hidden;
}

.sgw_line_across div.sgw_line_across_internal {
    width:100%;
    height:20px;
    display: inline;
    position: absolute;
    top:0px;
    left:0px;
}

.sgw_cm_unit {
    background-color: white;
}

.sgw_line_across_arrow {
    position: relative;
    top:0px;
    left:0px;
}

.sgw_distance_measurement {
    position: absolute;
    bottom:0px;
    right:0px;
}

.sgw_line_across_internal_solid {
    width:100%;
    padding:1px;
    background-color: black;
    height:0px;
    top:50%;
    position: absolute;
}

.sgw_group_title {
    position: absolute;
    display: inline-block;
    font-size: 14px;
}