{namespace test}

/**
*/
{template .switch2}
Switch to NE
{/template}

/**
*/
{template .test}
Test
{/template}
/**
 * Says hello to the world.
*/
{template .world}
        <b>world! </b>
{/template}

/**
*/
{template .is}
is
{/template}
