{namespace stargenetic_selectexperiment}

/**
 * Says hello to the world.
 * @param experiments
 * @param selected
*/
{template .select_experiments}
    <select class='sg_1_select_experiment'>
    {foreach $experiment in $experiments}
        <option value='{$experiment.id}' {if $selected == $experiment.id}selected='selected'{/if}>{$experiment.name}</option>
    {/foreach}
    </select>

{/template}
