{namespace stargeneticsws}

/**
 * Says hello to the world.
*/
{template .before_open}
        <h1>Hello world!</h1>
        {call .footer}
        {/call}
{/template}

/**
* @param new
* @param open
* @param save
*/
{template .onopen}
    <h1>Connection Established!</h1>
    {if $new}
        <button class='sg_new_experiment'>New</button>
    {/if}
    {if $open}
        <button class='sg_open_experiment'>Open</button>
    {/if}
    {if $save}
        <button class='sg_save_experiment'>Save</button>
    {/if}
    <textarea class='save_experiment_output'></textarea>
    <br>
    Text area length:<div class='save_experiment_length'><div>

{/template}

/**
 * Says hello to the world.
*/
{template .footer}
        <b>Produced by STAR team. </b>
{/template}


