{namespace test}

/**
 * Says hello to the world.
*/
{template .world}
        <b>dlrow! </b>
{/template}

/**
*/
{template .switch}
Switch to EN
{/template}


/**
*/
{template .test}
Tset
{/template}

/**
*/
{template .is}
si
{/template}
