{namespace less_css}
/**
css file
*/
{template .css_html}
<style>
{call .css_text}
{/call}
</style>
{/template}
/**
css file
*/
{template .css_text}
.starpedigree_workspace {lb}
  display: block;
{rb}
{/template}