.starpedigree_workspace {
  display: block;
  position: relative;
}

.starpedigree_generation {
  display: block;
  position: absolute;
  height: 40px;
}

.starpedigree_generation_label {
  display: block;
  position: relative;
  top: 10px;
}

.starpedigree_individual {
  display: block;
  position: absolute;
  background-color: grey;
}

.starpedigree_individual_label {
  position: relative;
  top: 10px;
  left: 10px;
  width: 40px;
}

.starpedigree_sexsymbol_male {
  width: 40px;
  height: 40px;
  border-radius: 0px;
}

.starpedigree_sexsymbol_female {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.starpedigree_parents_link {
  position: absolute;
  overflow: hidden;
}

.starpedigree_parents_link_horizontal {
  position: relative;
  height: 1px;
  top: 20px;
  left: 40px;
  right: 40px;
  background-color: black;
}

.starpedigree_parents_link_vertical_2 {
  position: relative;
  left: 20px;
}

.starpedigree_parents_link_vertical {
  position: relative;
  left: 50%;
  top: 20px;
  width: 1px;
  height: 40px;
  background-color: black;
}

.starpedigree_children_span {
  position: absolute;
}

.starpedigree_children_link_horizontal {
  position: relative;
  height: 1px;
  top: -20px;
  left: 20px;
  background-color: black;
}

.starpedigree_children_link {
  position: absolute;
}

.starpedigree_children_link_vertical {
  position: relative;
  top: -20px;
  left: 20px;
  width: 1px;
  height: 20px;
  background-color: black;

}

.starpedigree_individual_label_affected_1 {
  background-color: black;
  color: white;
  border: 1px solid black;
}

.starpedigree_individual_label_unaffected_1 {
  background-color: white;
  color: black;
  border: 1px solid black;
}
