{namespace widget_template}

/**
 @param config
*/
{template .wrapper}
    <div class='starpedigree_workspace' id='{$config.element_id+'_workspace'}'>Workspace</div>
{/template}


/**
* @param options
*/
{template .render_generations}
    {foreach $generation in $options.generations}
        <div class='starpedigree_generation' style='left:0px;top:{$options.cell_height*index($generation)}px'>
            <span class='starpedigree_generation_label'>
                {$generation}
            </span>
        </div>
    {/foreach}
{/template}

/**
* @param individual
* @param options
*/
{template .render_individual}
        <div class='starpedigree_individual starpedigree_sexsymbol_{$individual.sex.kind} {if $individual.affected}starpedigree_individual_label_affected_1{else}starpedigree_individual_label_unaffected_1{/if}' style='left:{$options.cell_width*$individual.location.column}px;top:{$options.cell_height*$individual.location.row}px'
            data-id='{$individual.id}' data-kind='starpedigree_individual'
            >
             <span class='starpedigree_individual_label' >
                {$individual.id}
            </span>
            <span class='starpedigree_individual_markers'>
                {foreach $marker in $individual.markers}
                    {$marker.id}
                {/foreach}
            </span>
            <span class='starpedigree_individual_genotype'>
                            {$individual.id}
                            <br>
                {foreach $marker in $individual.markers}
                    {$marker.id}
                {/foreach}
            </span>
        </div>
{/template}
/**
* @param individuals
* @param options
*/
{template .render_individuals}
    {foreach $individual in $individuals}
        {call .render_individual}
            {param individual:$individual/}
            {param options:$options/}
        {/call}
    {/foreach}
{/template}

/**
* @ param individuals
* @param relationships
* @param options
*/
{template .render_relationships}
    {foreach $relationship in $relationships}
        {call .render_relationship}
            {param relationship:$relationship/}
            {param options:$options/}
            {param options:$options/}
        {/call}
    {/foreach}
{/template}

/**
* @param relationship
* @param options
*/
{template .render_relationship}
    {call .render_parental_link}
        {param from:$relationship.parents[0]/}
        {param to:$relationship.parents[1]/}
        {param options:$options/}
    {/call}
    {call .render_children_links}
        {param from:$relationship.children_column_span[0]/}
        {param to:$relationship.children_column_span[1]/}
        {param children:$relationship.children/}
        {param options:$options/}
    {/call}

{/template}

/**
* @param from
* @param to
* @param options
*/
{template .render_parental_link}
    <div class='starpedigree_parents_link' style='top:{$from.location.row*$options.cell_width}px;left:{$from.location.column*$options.cell_height}px;width:{($to.location.column-$from.location.column)*$options.cell_height}px;height:{$options.cell_height}px'>
        <div class='starpedigree_parents_link_horizontal'>
        </div>
        <div class='starpedigree_parents_link_vertical_2'>
        <div class='starpedigree_parents_link_vertical'>
        </div>
        </div>
    </div>
{/template}

/**
* @param from
* @param to
* @param children
* @param options
*/
{template .render_children_links}
    <div class='starpedigree_children_span' style='top:{$from.row*$options.cell_width}px;left:{$from.column*$options.cell_height}px;width:{($to.column-$from.column)*$options.cell_height}px;height:{$options.cell_height}px'>
        <div class='starpedigree_children_link_horizontal'>
        </div>
    </div>
    {foreach $child in $children}
        <div class='starpedigree_children_link' style='top:{$child.location.row*$options.cell_width}px;left:{$child.location.column*$options.cell_height}px;width:{$options.cell_width}px;height:{$options.cell_height}px'>
            <div class='starpedigree_children_link_vertical'>
            </div>
        </div>
    {/foreach}
{/template}

/**
* @param individual
* @param options
* @param column
* @param row
*/
{template .render_individual_in_dialog}
        <div class='starpedigree_individual starpedigree_sexsymbol_{$individual.sex.kind} {if $individual.affected}starpedigree_individual_label_affected_1{else}starpedigree_individual_label_unaffected_1{/if}'
        style='left:{$options.cell_width*$column}px;top:{$options.cell_height*$row}px'
            data-id='{$individual.id}' data-kind='starpedigree_individual'
            >
             <span class='starpedigree_individual_label' data-id='{$individual.id}'>
                {$individual.id}
            </span>
            <span class='starpedigree_individual_markers' data-id='{$individual.id}'>
                {foreach $marker in $individual.markers}
                    {$marker.id}
                {/foreach}
            </span>
            <span class='starpedigree_individual_genotype' data-id='{$individual.id}'>
                {$individual.id}
                <br>
                {foreach $marker in $individual.markers}
                    {$marker.id}
                {/foreach}
            </span>

        </div>
{/template}
/**
* @param individual
* @param options
*/
{template .genotype_dialog_lhs}
<div class='starpedigree_genotype_dialog_lhs'>
        {call .render_individual_in_dialog}
            {param individual:$individual/}
            {param options:$options/}
            {param column:1/}
            {param row:1.75/}
        {/call}
        {foreach $parent in $individual.parents}
            {call .render_individual_in_dialog}
                {param individual:$parent/}
                {param options:$options/}
                {param column:(0.5+index($parent)) /}
                {param row:1/}
            {/call}
        {/foreach}
        {if $individual.parents.length > 0}
        <div class='starpedigree_parents_link' style='top:{1*$options.cell_width}px;left:{0.5*$options.cell_height}px;width:{1*$options.cell_height}px;height:{$options.cell_height}px'>
            <div class='starpedigree_parents_link_horizontal'></div>
            <div class='starpedigree_parents_link_vertical_2'>
                <div class='starpedigree_parents_link_vertical'></div>
            </div>
        </div>
        {/if}
</div>
{/template}

/**
*   @param individual
* @param index
*/
{template .genotype_dialog_select}
        <select data-index="{$index}" data-id="{$individual.id}" class="starpedigree_genotype_dialog_select">
                {foreach $marker in $individual.markers}
                   <option value="{$marker.id}" {if $individual.genotype[$index] == $marker.id}selected='selected'{/if}>{$marker.id}</option>
                {/foreach}
        <select>
{/template}
/**
* @param individual
* @param options
*/
{template .genotype_dialog_rhs}
<div class='starpedigree_genotype_dialog_rhs'>

    <table>
        <tr>
            <th>
            Gene 1
            </th>
            <th>
            Gene 2
            </th>
        <tr>
            <td>
                {call .genotype_dialog_select}
                    {param individual:$individual /}
                    {param index:0/}
                {/call}
            </td>
            <td>
                {call .genotype_dialog_select}
                    {param individual:$individual /}
                    {param index:1/}
                {/call}
            </td>
        </tr>
        <tr>
            <td>
                {call .genotype_dialog_select}
                    {param individual:$individual /}
                    {param index:2/}
                {/call}
            </td>
            <td>
                {call .genotype_dialog_select}
                    {param individual:$individual /}
                    {param index:3/}
                {/call}
            </td>
        </tr>
    </table>
//    <button data-id="{$individual.id}" class='starpedigree_genotype_dialog_check_genotype' data-text="Check genotype">Check genotype</button>
    <br>
    <span class='starpedigree_genotype_phase_select'>
            <input type='radio' value='unknown' kind-id="{$individual.id}" name="radio_starpedigree_genotype_phase_select_{$individual.id}" id='starpedigree_genotype_phase_select_{$individual.id}_unknown'><label for='starpedigree_genotype_phase_select_{$individual.id}_unknown'>Unknown</label></input>
            <input type='radio' value='inphase' kind-id="{$individual.id}" name="radio_starpedigree_genotype_phase_select_{$individual.id}" id='starpedigree_genotype_phase_select_{$individual.id}_inphase'><label for='starpedigree_genotype_phase_select_{$individual.id}_inphase'>In phase</label></input>
            <input type='radio' value='outofphase' kind-id="{$individual.id}" name="radio_starpedigree_genotype_phase_select_{$individual.id}" id='starpedigree_genotype_phase_select_{$individual.id}_outofphase'><label for='starpedigree_genotype_phase_select_{$individual.id}_outofphase'>Out of phase</label></input>
            <input type='radio' value='unlinked' kind-id="{$individual.id}" name="radio_starpedigree_genotype_phase_select_{$individual.id}" id='starpedigree_genotype_phase_select_{$individual.id}_unlinked'><label for='starpedigree_genotype_phase_select_{$individual.id}_unlinked'>Unlinked</label></input>
    </span>
    <br>
    {call .render_genotype}
        {param individual:$individual/}
    {/call}
    {$options}
//    <button data-id="{$individual.id}" class='starpedigree_genotype_dialog_check_phase' data-text="Check phase">Check phase</button>
    <button data-id="{$individual.id}" class='starpedigree_genotype_dialog_check_genotype_and_phase' data-text="Check phase">Check & Save</button>
    <button data-id="{$individual.id}" class='starpedigree_genotype_dialog_close' data-text="Close">Close</button>
</div>
{/template}

/**
* @param individual
*/
{template .render_genotype}
    <span class='starpedigree_genotype'>
        <span class='starpedigree_genotype_1_Top'>1T</span>
        <span class='starpedigree_genotype_1_Bottom'>1B</span>
        <span class='starpedigree_genotype_2_Top'>2T</span>
        <span class='starpedigree_genotype_2_Bottom'>2B</span>
        <span class='starpedigree_genotype_Symbol'>*</span>
    </span>
    {$individual.id}
{/template}
/**
* @param individual
* @param options
*/
{template .genotype_dialog}
<div class='starpedigree_genotype_dialog' title='Genotype editor for {$individual.id}'>
    {call .genotype_dialog_lhs}
            {param individual:$individual/}
            {param options:$options/}
    {/call}
    {call .genotype_dialog_rhs}
            {param individual:$individual/}
            {param options:$options/}
    {/call}
</div>
{/template}