{namespace sg_client_mainframe}

/**
 * Says hello to the world.
 @param config
*/
{template .main}
<!--
    <div class='sg_main'>
        <button class='sg_open_ps'>Open</button>
    </div>
    <div class='sg_main'>
        <button class='sg_open_ps'>Close</button>
    </div>
-->
    <div class='sg_workspace' id='{$config.element_id+'_workspace'}'>Workspace</div>

{/template}

/**
*   Strains
* @param model
*/
{template .workspace}
    <div class='sg_workspace'>
        <div class='sg_workspace_title'>StarGenetics Title</div>
        {call .strains}
            {param strains: $model.ui.strains /}
        {/call}
        {call .new_experiment}
            {param experiment: $model.ui.new_experiment /}
        {/call}
        {call .all_experiments}
            {param experiments:$model.ui.experiments /}
        {/call}

        {call .io}
        {/call}
    </div>
{/template}

/**
*
*/
{template .io}
    <button class='sg_workspace_save'>Save</button>
    <button class='sg_workspace_load'>Load</button>
{/template}

/**
* @param strain
* @param visuals
* @param count
* @param kind
*/
{template .strain}
{if $count != 0}
<div class='sg_strain_box sg_s_strain_box' data-kind='{$kind}' data-id="{$strain['id']}">
                    <div class='sg_strain_title'>{$strain['name']}</div>
                    {if $visuals}
                    <div class='sg_strain_visual'><canvas data-kind='{$kind}' data-id='{$strain['id']}'></canvas></div>
                    {/if}
                </div>
{else}
<div class='sg_strain_box'></div>
{/if}
{/template}


/**
* @param strain
* @param kind
*/
{template .strain_short}
<div class='sg_strain_box sg_s_strain_box' data-kind='{$kind}' data-id="{$strain['id']}">
    <div class='sg_strain_title'>{$strain['name']} {if $strain['sex'] == 'FEMALE'}{call .female_icon/}{else}{call .male_icon/}{/if}</div>
</div>
{/template}


/**
* @param visuals
* @param kind
*/
{template .strain_place_holder}
<div class='sg_add_strain_box sg_s_strain_box' data-kind='{$kind}' >
                    <div class='sg_strain_title'>Add strain</div>
                    {if $visuals}
                    <div class='sg_strain_visual'>Drop your strain here...</div>
                    {/if}
                </div>
{/template}


/**
*   Strains
* @param strains
*/
{template .strains}
<div class='sg_strains_box'>
    <div class='sg_title_box'>
        Strains
        {if $strains.expanded}
            <button class='sg_expand' data-kind='strains' data-expanded='false'>Collaps</button>
/*
            {if $strains.visualsVisible}
            <button class='sg_strain_expand_visuals' data-kind='strains' data-expanded-visuals='false'>Hide Visuals</button>
            {else}
            <button class='sg_strain_expand_visuals' data-kind='strains' data-expanded-visuals='true'>Show Visuals</button>
            {/if}
*/
            {if $strains.propertiesVisible}
                <button class='sg_strain_expand_properties' data-kind='strains' data-expanded-properties='false'>Hide Properties</button>
            {else}
                <button class='sg_strain_expand_properties' data-kind='strains' data-expanded-properties='true'>Show Properties</button>
            {/if}
        {else}
            <button class='sg_expand' data-kind='strains' data-expanded='true'>Expand</button>
        {/if}
    </div>
    {if $strains.expanded}
            <table>
/*
                <thead>
                    <td class='sg_s_col_head sg_s_row_head'>Name</td>
                    {foreach $strain in $strains.list}
                        <td class='sg_strain_box sg_s_row_head'>{$strain['name']}</td>
                    {/foreach}
                </thead>
*/                {if $strains.visualsVisible}
                <tr>
                    <td class='sg_s_col_head'>Strain</td>
                    {foreach $strain in $strains.list}
                        <td class='sg_strain_box' data-kind='strains' data-id="{$strain['id']}">
                    //   <div class='sg_strain_visual'><canvas data-kind='strains' data-id='{$strain['id']}'></canvas>
                    //    </div>
                    {call .strain}
                    {param strain:$strain /}
                    {param visuals: true/}
                    {param kind:'strains'/}
                    {/call}

                        </td>
                    {/foreach}
                    <td class='sg_place_holder'>

                    {call .strain_place_holder }
                        {param kind: 'strains' /}
                        {param visuals: $strains.visualsVisible/}
                    {/call}
                    </td>
                </tr>
                <tr>
                <td  class='sg_s_col_head'>Sex</td>
                    {foreach $strain in $strains.list}
                        <td class='sg_strain_box'>
                        {call .sex_icon}{param sex:$strain['sex']/}{/call}
                        </td>
                    {/foreach}

                </tr>

                {/if}
{if $strains.propertiesVisible}
                {foreach $property in $strains.propertiesList}
                <tr>
                    <td class='sg_s_col_head'>{$property}</td>
                    {foreach $strain in $strains.list}
                        <td data-id="{$strain.id}">{$strain.properties[$property].text}</td>
                    {/foreach}

                </tr>
                {/foreach}
{/if}
            </table>
//        {else}
//            {foreach $strain in $strains.list}
//                {call .strain}
//                    {param strain:$strain /}
//                    {param visuals: $strains.visualsVisible/}
//                    {param kind: 'strains' /}
//                {/call}
//            {/foreach}
//            {call .strain_place_holder }
//                    {param kind: 'strains' /}
//                    {param visuals: $strains.visualsVisible/}
//            {/call}
//        {/if}
//    {else}
    {/if}

</div>
{/template}

/**
*   Active Experiment
* @param experiment
*/
{template .new_experiment}
<div class='sg_new_experiment_box'>
    <div class='sg_title_box'>
        {if $experiment.expanded}
        Experiment setup
            <button class='sg_expand' data-kind='new_experiment' data-expanded='false'>Collaps</button>
            /*
            {if $experiment.visualsVisible}
            <button class='sg_strain_expand_visuals' data-kind='new_experiment'  data-expanded-visuals='false'>Hide Visuals</button>
            {else}
            <button class='sg_strain_expand_visuals' data-kind='new_experiment' data-expanded-visuals='true'>Show Visuals</button>
            {/if}
            */
            {if $experiment.propertiesVisible}
                <button class='sg_strain_expand_properties' data-kind='new_experiment' data-expanded-properties='false'>Hide Properties</button>
            {else}
                <button class='sg_strain_expand_properties' data-kind='new_experiment' data-expanded-properties='true'>Show Properties</button>
            {/if}
        {else}
        Add another experiment?
            <button class='sg_expand' data-kind='new_experiment'  data-expanded='true'>Click here to start new mating experiment.</button>
            /*
            <button class='sg_expand' data-kind='new_experiment'  data-expanded='true'>Expand</button>
            */
        {/if}
        &nbsp;
        {if $experiment.canclearparents}
        <button class='sg_clear_parents sg_s_clear_parents' data-kind="new_experiment">Clear</button>
        {/if}

        {if $experiment.canmate}
            <button class='sg_new_experiment_mate sg_s_new_experiment_mate' data-kind='new_experiment'>Mate</button>
        {/if}
    </div>
    {if $experiment.expanded}
    <div class='sg_experiment_parents'>
        {if $experiment.parents.length <1}
        <div class='sg_experiment_parent' data-kind='new_experiment'>
            Drop strain here
        </div>
        {else}
        <div class='sg_experiment_parent' data-kind='new_experiment' data-id='{$experiment.parents[0].id}'>
            {call .strain}
                    {param strain:$experiment.parents[0] /}
                    {param visuals: $experiment.visualsVisible/}
                    {param kind:'new_experiment'/}
            {/call}
        </div>
        {/if}
        {if $experiment.parents.length <2}
        <div class='sg_experiment_parent' data-kind='new_experiment'>
            Drop strain here
        </div>
        {else}
        <div class='sg_experiment_parent' data-kind='new_experiment' data-id='{$experiment.parents[1].id}'>
            {call .strain}
                    {param strain:$experiment.parents[1] /}
                    {param visuals: $experiment.visualsVisible/}
                    {param kind:'new_experiment'/}
            {/call}
        </div>
        {/if}
    </div>
    {/if}
</div>
{/template}

/**
*   Active Experiment
* @param experiments
*/
{template .all_experiments}
{foreach $experiment in $experiments.list}
    {if isFirst($experiment) or index($experiment) < $experiments.show_experiments }
    {call .one_experiment}
        {param experiment:$experiment /}
        {param index:index($experiment) /}
    {/call}
    {/if}
{/foreach}
    {if length($experiments.list) > $experiments.show_experiments}
        <button class='sg_show_more' data-increment='+'>Show More?</button>
    {/if}
    {if $experiments.show_experiments > 1}
        <button class='sg_show_more' data-increment='-'>Show Less?</button>
    {/if}

{/template}

/**
* @param experiment
*/
{template .one_experiment}
<div class='sg_experiment_box'>
    <!-- header -->
    <div class='sg_title_box'>
        {$experiment.name}
                {if $experiment.expanded}
            <button class='sg_expand' data-kind='{$experiment.id}' data-expanded='false'>Collaps</button>
            /*
            {if $experiment.visualsVisible}
            <button class='sg_strain_expand_visuals' data-kind='{$experiment.id}'  data-expanded-visuals='false'>Hide Visuals</button>
            {else}
            <button class='sg_strain_expand_visuals' data-kind='{$experiment.id}' data-expanded-visuals='true'>Show Visuals</button>
            {/if}
            */
            {if $experiment.propertiesVisible}
                <button class='sg_strain_expand_properties' data-kind='{$experiment.id}' data-expanded-properties='false'>Hide Properties</button>
            {else}
                <button class='sg_strain_expand_properties' data-kind='{$experiment.id}' data-expanded-properties='true'>Show Properties</button>
            {/if}
            {if $experiment.showIndividuals}
            <button class='sg_strain_show_individuals' data-kind='{$experiment.id}'  data-show-individuals='false'>Group flies</button>
            {else}
            <button class='sg_strain_show_individuals' data-kind='{$experiment.id}' data-show-individuals='true'>Ungroup flies</button>
            {/if}

        {else}
            <button class='sg_expand' data-kind='{$experiment.id}'  data-expanded='true'>Expand</button>
        {/if}
        &nbsp;
        {if $experiment.canclearparents}
        <button class='sg_rename' data-kind="{$experiment.id}">Rename</button>
        {/if}

        {if $experiment.canmate}
            <button class='sg_experiment_mate' data-kind="{$experiment.id}">Add progenies</button>
        {/if}
    </div>
    {if $experiment.expanded}
    <!-- expanded body -->
        {if $experiment.propertiesVisible}
        /**
          * Properties are visible (long summary)
        */
        <table>
                <tr>
                <th>Name</th>
                <th>{$experiment.parent.female.name}</th>
                <th>{$experiment.parent.male.name}</th>
                {foreach $phenotype in keys($experiment.phenotypes)}
                <th>{$phenotype.short_description}</th>
                {/foreach}
                </tr>
                {if $experiment.visualsVisible}
                <tr><td>Visual</td>
                <td>
                    {call .strain}
                    {param strain:$experiment.parent.female /}
                    {param visuals: $experiment.visualsVisible/}
                    {param kind:$experiment.id/}
                    {/call}
                </td>
                <td>
                    {call .strain}
                    {param strain:$experiment.parent.male /}
                    {param visuals: $experiment.visualsVisible/}
                    {param kind:$experiment.id/}
                    {/call}
                </td>
                {foreach $phenotype in keys($experiment.phenotypes)}
                    <td>
                    {call .strain}
                        {param strain:$experiment.phenotypes[$phenotype].top_male /}
                        {param count:$experiment.phenotypes[$phenotype].males/}
                        {param visuals: $experiment.visualsVisible/}
                        {param kind:$experiment.id/}
                    {/call}


                    </td><td>
                    {call .strain}
                        {param strain:$experiment.phenotypes[$phenotype].top_female /}
                        {param count:$experiment.phenotypes[$phenotype].females/}
                        {param visuals: $experiment.visualsVisible/}
                        {param kind:$experiment.id/}
                    {/call}


                    </td>
                {/foreach}
                </tr>
                <tr>
                    <td><!-- individual --></td>
                    <td><!-- parent 1 --></td>
                    <td><!-- parent 2 --></td>
                                    {foreach $phenotype in keys($experiment.phenotypes)}
                    <td>
                                        <br>
                    {if $experiment.phenotypes[$phenotype].show_more_males}
                        <button class='sg_expand_males' data-kind="{$experiment.id}" data-phenotype-id="{$phenotype}" data-state="false">Hide Individuals</button>
                        {if $experiment.phenotypes[$phenotype].start_index_male > 0}
                        <br>
                            <button class='sg_move_start_males' data-kind="{$experiment.id}" data-phenotype-id="{$phenotype}" data-state="-">Previous?</button>
                        {/if}
                        {foreach $strain in $experiment.phenotypes[$phenotype].males_list}
                            {if index($strain) > $experiment.phenotypes[$phenotype].start_index_male and index($strain) <= $experiment.phenotypes[$phenotype].start_index_male+5}
                            <br>
                            {call .strain_short}
                                {param strain:$strain /}
                                {param kind:$experiment.id/}
                            {/call}
                            {/if}
                        {/foreach}
                        {if length($experiment.phenotypes[$phenotype].males_list) - $experiment.phenotypes[$phenotype].start_index_male > 0}
                            <br>
                            <button class='sg_move_start_males' data-kind="{$experiment.id}" data-phenotype-id="{$phenotype}" data-state="+">Next?</button>
                        {/if}
                    {else}
                        <button class='sg_expand_males' data-kind="{$experiment.id}" data-phenotype-id="{$phenotype}" data-state="true">Show Individuals</button>
                    {/if}
                    </td>
                    <td>
                                        <br>
                    {if $experiment.phenotypes[$phenotype].show_more_females}
                        <button class='sg_expand_females' data-kind="{$experiment.id}" data-phenotype-id="{$phenotype}" data-state="false">Hide Individuals</button>
                        {if $experiment.phenotypes[$phenotype].start_index_female > 0}
                        <br>
                            <button class='sg_move_start_females' data-kind="{$experiment.id}" data-phenotype-id="{$phenotype}" data-state="-">Previous?</button>
                        {/if}
                        {foreach $strain in $experiment.phenotypes[$phenotype].females_list}
                            {if index($strain) > $experiment.phenotypes[$phenotype].start_index_female and index($strain) <= $experiment.phenotypes[$phenotype].start_index_female+5}
                            <br>
                            {call .strain_short}
                                {param strain:$strain /}
                                {param kind:$experiment.id/}
                            {/call}
                            {/if}
                        {/foreach}
                        {if length($experiment.phenotypes[$phenotype].females_list) - $experiment.phenotypes[$phenotype].start_index_female > 0}
                            <br>
                            <button class='sg_move_start_females' data-kind="{$experiment.id}" data-phenotype-id="{$phenotype}" data-state="+">Next?</button>
                        {/if}
                    {else}
                        <button class='sg_expand_females' data-kind="{$experiment.id}" data-phenotype-id="{$phenotype}" data-state="true">Show Individuals</button>
                    {/if}
                    </td>

                    {/foreach}
                </tr>
                {/if}
                {if $experiment.showIndividuals}
                <tr>
                    <td><!-- individual --></td>
                    <td><!-- parent 1 --></td>
                    <td><!-- parent 2 --></td>
                {foreach $phenotype in keys($experiment.phenotypes)}
                <td colspan='2'>
                {foreach $strain in $experiment.phenotypes[$phenotype].list}
                    {call .strain_short}
                        {param strain:$strain /}
                        {param kind:$experiment.id/}
                    {/call}
                {/foreach}
                </td>
                {/foreach}
                </tr>
                {/if}
                <tr><td>Sex (M/F)</td>
                <td>{call .female_icon/}</td><td>{call .male_icon/}</td>
                {foreach $phenotype in keys($experiment.phenotypes)}
                <td>    {$experiment.phenotypes[$phenotype].males}
                        {call .male_icon/}
                </td>
                <td>
                        {$experiment.phenotypes[$phenotype].females}
                        {call .female_icon/}
                </td>
                {/foreach}
                {foreach $property in $experiment.propertiesList}
                    <tr><td>{$property}</td>
                    <td>{$experiment.parent.female.properties[$property].text}</td>
                    <td>{$experiment.parent.male.properties[$property].text}</td>
                    {foreach $phenotype in keys($experiment.phenotypes)}
                    <td colspan='2'>{$experiment.phenotypes[$phenotype].properties[$property].text}
                    </td>
                    {/foreach}
                    </tr>
                {/foreach}
        </table>
        {else}
            /** No properties with or without visuals */
            <table>
                <tr><th>Sex</th><th>Parents</th><th>Offsprings</th></tr>
                <tr><td>Female</td><td>
                {call .strain}
                    {param strain:$experiment.parent.female /}
                    {param visuals: $experiment.visualsVisible/}
                    {param kind:$experiment.id/}
                {/call}
                </td><td>{$experiment.stats.sex.females}</td></tr>
                <tr><td>Male</td><td>
                {call .strain}
                    {param strain:$experiment.parent.male /}
                    {param visuals: $experiment.visualsVisible /}
                    {param kind:$experiment.id/}
                {/call}
                </td><td>{$experiment.stats.sex.males}</td></tr>
            </table>
        {/if}
    {/if}
</div>
{/template}

/**
* Sex icon
*   @param sex
*/
{template .sex_icon}
    {if $sex == 'MALE'}
        {call .male_icon/}
    {else}
        {call .female_icon/}
    {/if}
{/template}
/**
* Male icon
*/
{template .male_icon}
<img src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABDklEQVR42mNkIB40AbEqEp8FiM8ykmAAMpAF4nlA/IEcA2Cak4C4i1QDkDU/BuLl6AbYAnECEPMD8X8g/gXEq4F4AxbNDMgGMAPxRCD+AsR9QPwKKs4LxClAbAPEfGiawQELM6AXiI8B8VocTjcB4kogDkaXABmgCcT5QJxBwP+FQHwf6h0UA0Dxuw6ILxAwAOSdGUAcjW7ACqjgXyJiARSgoegGLIOG/C8iDFgDxCHoBpRDA/AwAc1iQNwOxMnoBkgzQKIunIABHUC8Fd0iWDSCYoELagM2AIo+RyDOQZdATokgQ6yAeAoQn4QGqi4DJHq/AnEZtoBGT8og78QAsT4QMwHxLSBeDsTXcfkLAHmSM6tHQ6tHAAAAAElFTkSuQmCC'>
{/template}

/**
* Female icon
*/
{template .female_icon}
<img src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHElEQVR42mNkIB5EAvFyJL4sEMszkmBAKhDrAHE+VPM8IE4ixQCYIWZArADSDMSPSTUAZPNmID4NNYwB3QBbIE4AYn4g/g/Ev4B4NRBvQHY2EHvAvAMzgBmIJwLxFyDuA+JXUHFeIE4BYhsg5oM5G8k7X2AG9ALxMSBei8PpJkBcCcTB6BIgAzShIZtBwP+FQHwf6h0UA5qAeB0QXyBgAMg7M4A4Gt2AFVDBv0TEAihAQ9ENWAYN+V9EGLAGiEPQDSiHBuBhAprFgLgdiJPRDZBmgERdOAEDOoB4K7pFsGgExQIX1AZsABR9jkCcgy6BnBJBhlgB8RQgPgkNVF0GSPR+BeIybAGNnpRB3okBYn0gZgLiWwyQLHwdl78Auzgzw8mO3K0AAAAASUVORK5CYII='>
{/template}

