.sg_workspace {
  background: white;
  top: 20px;
  left: 20px;
  min-height: 800px;
  min-width: 650px;
  resize: none;
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
  position: relative;
  font-size: 11pt;
}
.sg_exercise_title {
  display: inline-block;
  top: 0px;
  left: 0px;
  height: 50px;
  background: white;
  border: black 1px;
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
  font-size: 15pt;
}
.sg_logo {
  width: 200px;
  vertical-align: middle;
  position: relative;
  top: -3px;
}
.sg_strains_box {
  display: block;
  background: #ffffff;
  margin-bottom: 8px;
}
.sg_strains_title {
  float: left;
  width: 100px;
  height: 100px;
  background-color: darkgreen;
  color: white;
  font-weight: 900;
  font-size: 15pt;
}
.sg_s_strain_box {
  display: inline-block;
  margin: 1px;
  padding: 0px;
}
.sg_strain_box_hover:hover {
  margin: 0px;
  border: 1px solid #00ff00;
  border-radius: 0px;
  cursor: copy;
}
.sg_strain_box_nohover:hover {
  border: 0px solid #00ff00 !important;
  border-radius: 0px !important;
  cursor: normal !important;
}
.sg_strain_title {
  display: block;
  vertical-align: top;
  width: 100%;
  height: 25px;
  white-space: nowrap;
}
.sg_strain_title > img {
  float: right;
}
.sg_strain_visual {
  display: block;
  vertical-align: top;
  text-align: center;
  vertical-align: text-bottom;
  position: relative;
}
.sg_strain_visual_canvas {
  position: static;
  top: 0px;
  left: 0px;
}
.sg_strain_visual_canvas_sex {
  position: absolute;
  right: 5px;
  bottom: 0px;
  zoom: 75%;
  float: left;
  opacity: .65;
  z-index: 2;
}
.sg_experiment_box {
  display: block;
  vertical-align: top;
  margin-bottom: 8px;
  position: relative;
}
.sg_experiment_heading {
  display: block;
  vertical-align: top;
  width: 100%;
  background-color: yellow;
}
.sg_experiment_title_group {
  vertical-align: top;
  display: inline-block;
  background-color: orange;
}
.sg_experiment_title {
  display: block;
  background-color: orange;
}
.sg_experiment_commands {
  display: block;
  background-color: orangered;
}
.sg_experiment_parents_wrapper {
  position: relative;
  width: 600px;
  vertical-align: top;
  display: inline-block;
}
.sg_experiment_parents {
  vertical-align: top;
  display: inline-block;
  text-align: center;
}
.sg_experiment_parent {
  vertical-align: center;
  display: inline-block;
  margin: 5px;
  min-width: 70px;
  height: 80px;
  text-align: center;
  position: relative;
  border: none;
  border-radius: 0px;
  padding: 2px;
  width: 80px;
  font-weight: 900;
  font-size: 12px;
  background-color: #ffffff;
  color: #808080;
}
.sg_experiment_parent_text {
  position: relative;
  top: 8px;
}
.sg_s_experiment_parent_table {
  vertical-align: top;
  display: inline-block;
  margin: 5px;
  min-width: 70px;
  height: 80px;
  text-align: center;
  position: relative;
  padding: 2px;
}
td.sg_s_experiment_parent_table_x .sg_s_experiment_parent_x {
  top: 0px;
}
.sg_experiment_parent_remove {
  position: absolute;
  top: 0px;
  right: 0px;
  -webkit-appearance: none;
  background: #ffffff;
  border: 0px;
  padding: 3px;
}
.sg_experiment_parent_x {
  display: inline-block;
  vertical-align: top;
  position: relative;
  top: 30px;
  font-size: 25px;
  font-weight: 900;
  color: #808080;
}
td.sg_s_experiment_parent_table_x .sg_experiment_parent_x {
  top: 0px;
}
.sg_s_experiment_parent_x_floaty {
  float: left;
  position: relative;
  left: 110px;
  width: 0px;
}
.sg_s_experiment_parent_to_floaty {
  display: inline-block;
  vertical-align: center;
  font-size: 30pt;
  padding-right: 20px;
}
.sg_experiment_parents_can_mate {
  display: inline-block;
  max-width: 300px;
  margin-left: 10pt;
}
.sg_experiment_parents_can_mate_info {
  padding-top: 10pt;
  padding-bottom: 5pt;
}
.sg_s_col_head {
  vertical-align: top;
  color: #a0a4a8;
}
.sg_s_row_head {
  border-bottom: solid black 1px;
}
.sg_title_box {
  font-size: 13.5pt;
  font-weight: 400;
  padding-left: 6px;
  text-transform: uppercase;
  padding-top: 6px;
}
.sg_add_strain_box {
  vertical-align: top;
  width: 70px;
  heigth: 80px;
}
.sg_s_expand {
  border: none;
  border-radius: 9px;
  float: right;
  margin-right: 10px;
  background: #e3e3e3;
}
.sg_s_expand_mating_site {
  margin-left: 150px;
  margin-bottom: 1em;
}
.sg_strain_expand_properties,
.sg_s_expand_class {
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
}
.sg_new_experiment_box {
  margin-bottom: 8px;
  position: static;
}
.sg_s_clear_parents,
.sg_s_new_experiment_mate {
  border: none;
  border-radius: 9px;
  background: #e3e3e3;
}
.sg_s_new_experiment_mate_large {
  border: green 1px solid;
  border-radius: 6px;
  font-size: 12pt;
  background-color: green;
  color: white;
  text-transform: uppercase;
  background: green;
}
table {
  border-collapse: collapse;
}
.sg_s_row_head {
  border: 1px solid #a0a4a8;
  background: white;
}
.sg_strain_box {
  text-align: center;
  z-index: 99;
}
.sg_mini_experiment_box {
  display: inline-block;
  width: auto;
  position: relative;
  margin: 1px;
  border: 1px solid #f0f0f0;
  margin-right: 8px;
  padding: 5px;
}
.sg_mini_experiment_box:hover {
  border: 1px solid #00ff00;
  border-radius: 9px;
}
.sg_experiment_phenotype_detail_parent_m {
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}
.sg_experiment_phenotype_detail_parent_f {
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}
.sg_experiment_phenotype_detail_left {
  text-align: center;
  border-left: 3px solid #e7e7e9;
  padding-left: 5px;
  padding-right: 5px;
}
.sg_experiment_phenotype_detail_right {
  text-align: center;
  border-right: 3px solid #e7e7e9;
  padding-left: 5px;
  padding-right: 5px;
}
.sg_experiment_phenotype_detail_double {
  padding-left: 15px !important;
  text-align: center !important;
}
.sg_experiment_phenotype_detail_header {
  width: 5.5em;
}
.sg_experiment_p_count {
  text-align: center;
}
.sg_strains_p_visual {
  text-align: center !important;
}
.sg_experiment_p_visual {
  text-align: center !important;
}
.sg_experiment_phenotype_detail_align_top {
  vertical-align: top !important;
}
.sg_slider {
  width: 100%;
}
.sg_slider_thumb {
  width: 100%;
  height: 1em;
  background-color: #e3e3e3;
  text-align: center;
}
.sg_slider_table {
  position: relative;
  left: 0px;
  top: 0px;
}
.sg_experiment_holder {
  zoom: 50%;
  -moz-transform-origin: 0 0;
  -moz-transform: scale(0.5);
  position: relative;
  left: 0px;
  top: 0px;
  white-space: nowrap;
}
.sg_experiment_box_floaty {
  position: absolute;
  width: 100%;
  height: 100%;
  float: right;
  background: #4D4C49;
  opacity: .01;
  z-index: 99;
}
.sg_experiment_selected {
  border: 1px solid black;
}
.sg_experiment_selected:hover {
  border: 1px solid black;
}
.sg_slider_widget_wrapper {
  overflow-x: scroll;
  resize: none;
  width: 100%;
}
.sg_strain_add_strain {
  background-color: #e7e7e9;
  font-size: 50px;
  padding: 10px;
  padding-bottom: 20px;
  color: #808080;
  font-weight: 900;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
  height: 4px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(192, 192, 192, 0.3);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
.sg_plus_floaty {
  float: right;
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #00ff00;
  padding: 1px;
  font-size: 12pt;
}
.sg_s_rename {
  border-bottom: 2px dotted #00ff00;
  cursor: pointer;
}
.sg_s_discard {
  float: right;
  margin-right: 25px;
  cursor: pointer;
  border: #808080 1px solid;
  border-radius: 6px;
  font-size: 8pt;
  background-color: #808080;
  color: white;
  text-transform: uppercase;
}
.sg_new_experiment_mate_count {
  width: 5em !important;
  margin-bottom: 5px;
  margin-right: 5px;
}
.sg_workapace_button {
  margin-left: 5px !important;
  margin-right: 5px !important;
  margin-bottom: 5px !important;
}
table.sg_slider_table tbody tr th {
  text-align: center !important;
}
div.sg_mini_experiment_box table.sg_slider_table {
  margin: 0px !important;
}
div.sg_mini_experiment_box table.sg_slider_table tbody tr th {
  max-height: 20px;
}
.sg_expand_females {
  margin-left: 5px !important;
  margin-right: 5px !important;
}
.sg_expand_males {
  margin-left: 5px !important;
  margin-right: 5px !important;
}
.sg_s_strain_remove {
  float: right;
}
.sg_expand_class_dialog {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #e0e0e0;
}
.sg_expand_females_dialog {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 9px;
}
.sg_expand_females_dialog_list {
  width: 400px;
  height: 600px;
  position: relative;
  z-index: 50;
}
.sg_expand_dialog_strain {
  display: inline-block !important;
  margin: 5px;
  width: 70px;
}
.sg_expand_class_dialog_title {
  font-size: 12pt;
  font-weight: 900;
  color: #808080;
}
.sg_bold_heading {
  font-weight: 900;
  font-size: 18px;
  color: #a0a4a8;
}
.sg_bottom_border {
  margin-left: 150px;
  border-bottom: 6px solid #e7e7e9;
  height: 20px;
}
.sg_experiment_parent_remove_text {
  font-size: 12px;
  background-color: #a0a0a0;
  border-radius: 9px;
  height: 18px;
  width: 18px;
  display: block;
  color: white;
}
.sg_left_heading {
  width: 150px;
  display: inline-block;
}
.sg_current_experiment_name {
  display: block;
  position: relative;
  background-color: rbga(0, 128, 0, 0);
  z-index: 99;
  width: 150px;
  padding: 1px;
}
.sg_current_experiment_name_input {
  font-size: 10pt;
  display: block;
}
.sg_current_experiment_name_save {
  font-size: 10pt;
  display: inline-block;
}
.sg_current_experiment_name_cancel {
  font-size: 10pt;
  display: inline-block;
}
.sg_one_experiment_table {
  position: relative;
  top: -30px;
}
.sg_s_arrow_down {
  font-size: 50px;
  font-weight: 900;
  color: #808080;
  text-align: center;
}
.sg_expand_class_dialog_list {
  background-color: white;
  border: 1px solid #c0c0c0;
  min-height: 100px;
}
.sg_select_strain_target {
  position: absolute;
  width: 125px;
  height: 50px;
  background-color: white;
  border: 1px solid #00ff00;
  top: 0px;
  left: 0px;
  z-index: 99;
}
.sg_dialog_close {
  border: #808080 1px solid;
  border-radius: 6px;
  font-size: 8pt;
  background-color: #808080;
  color: white;
  text-transform: uppercase;
}
.sg_s_add_to_mating_site,
.sg_s_add_to_strains,
.sg_s_experiment_mate {
  border: green 1px solid;
  border-radius: 6px;
  font-size: 8pt;
  background-color: green;
  background: green;
  color: white;
  text-transform: uppercase;
  width: 125px;
  padding: 4px;
  margin: 1px;
}
.sg_page_button {
  display: inline-block;
  width: 16px;
  height: 16px;
  font-size: 10px;
  border-radius: 9px;
  background-color: black;
  text-align: center;
  color: white;
  margin: 2px;
  padding: 1px;
  padding-top: 3px;
  font-weight: 900;
  border-color: black;
  border-width: 1px;
  border-style: solid;
}
.sg_page_button_selected {
  background-color: white;
  color: black;
}
.sg_page_button_holder {
  width: 100%;
  padding-left: 100px;
}
